# Intro to Data Science with Pokemon 
***

### Arrays

In [1]:
food = ["ham", "cheese", "bread", "mayo", "tomatoes", "bacon", "lettuce"]

In [2]:
print(food);

['ham', 'cheese', 'bread', 'mayo', 'tomatoes', 'bacon', 'lettuce']

In [3]:
print(food[0]);

ham

In [4]:
print(food[4]);

tomatoes

In [8]:
sliced_food = food[0:3];

In [7]:
print(sliced_food);

['ham', 'cheese']

In [10]:
print(sliced_food);

['ham', 'cheese', 'bread']

### Import Libraries
***

In [11]:
import pandas as pd 
import numpy as py
import seaborn as sb

In [15]:
print("pandas version " + pd.__version__)
print("numpy version " + py.__version__)
print("seaborn version " + sb.__version__)

pandas version 2.1.3
numpy version 1.26.2
seaborn version 0.13.0

### Loading Data
***

In [16]:
df = pd.read_csv('pokemon.csv')

### Displayed Full Data Frames 
***

In [25]:
pd.set_option('display.max_rows', 20)

In [27]:
df.head(700)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,646.0,646.0,Kyurem,125,130,90,130,90,95,660,...,3,1250000,N,646.0,646.0,NaN,NaN,NaN,152.0,Kyurem
659,647.0,647.0,Keldeo,91,72,90,129,90,108,580,...,3,1250000,N,647.0,647.0,NaN,NaN,NaN,153.0,Keldeo
660,648.0,648.0,Meloetta (A),100,77,77,128,128,90,600,...,3,1250000,N,648.0,648.0,NaN,NaN,NaN,154.0,Meloetta (A)
661,648.1,648.1,Meloetta (P),100,128,90,77,77,128,600,...,3,1250000,N,648.1,648.1,NaN,NaN,NaN,154.1,Meloetta (P)
662,649.0,649.0,Genesect,71,120,95,120,95,99,600,...,3,1250000,N,649.0,649.0,NaN,NaN,NaN,155.0,Genesect